* {
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  display: flex;
  list-style: none;
  width: 30vw;
  justify-content: space-around;
}

#about-img {
  height: 250px;
  width: 98vw;
  display: block;
  margin: auto;
}

.mission-statement {
  z-index: 5;
  text-align: center;
  align-items: center;
}

.join-now {
  display: flex;
  justify-content: space-around;
}

.classes {
  display: flex;
  justify-content: space-around;
}

.class-images {
  height: 100px;
  width: 100px;
}

.join-now-img {
  height: 100px;
  width: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
}